@font-face {
	font-family: 'Kenzo';
	src: url('../fonts/Kenzo-Regular.otf');
}

@font-face {
	font-family: 'OpenSans-light';
	src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'Mission';
	src: url('../fonts/Mission-Script.otf');
}

body{
	width: 100%;
	height: auto;
	background-color: #e5d9d1;
}

	.main{
		width: 1200px;
		height: auto;
		/*background-color: yellow;*/
		margin: auto;
		overflow: hidden;
		/*box-shadow: 0px 0px 160px 0px #edcdb7;*/
	}

		.header{
			height: 43px;
			background-image: url(../img/motifhead.jpg);
		}

			#logosHeader{
				padding-left: 128px;
			}

		.banner{
			height: 450px;
			background-image: url(../img/home-img2.jpg);
			position: center;
		}

			.txtBanner{
				height: 450px;
				background-color: rgba(255, 255, 255, 0.3);
				text-align: center;
				color: white;
			}

				.bannerTitle{
					font-family: 'Mission';
					font-size: 80px;
					padding-top: 140px;
				}

				.bannerContent{
					font-family: 'OpenSans-Light';
					font-size: 30px;
				}

		.nav{
			height: 70px;
			background-color: white;
		}

			.navUlDcas{
				width: 601px;
				margin: auto;
			}

				.navLiDcas{
					float: left;
					padding-left: 10px;
					padding-right: 10px;
					font-family: 'Kenzo';
					font-size: 20px;
					letter-spacing: 3px;
					padding-top: 23px;
				}

				.linkNav{
					text-decoration: none;
					cursor: pointer;
					color: #3b4a5a;
				}

				.linkNav:hover{
					cursor: pointer;
					color: #95b9c7;
				}

		.tutoWebsite{
			height: 400px;
			background-color: #f9f9f9;
		}

			.listTuto{
				width: 880px;
				height: 242px;
				margin: auto;
				padding-top: 70px;
			}

				.li{
					float: left;
				}

					.imgTuto{
						float: left;
						margin-right: 20px;
					}

		.stylist{
			height: 500px;
			background-color: white;
		}

			.txtStylist{
				width: 340px;
				height: 500px;
				/*background-color: green;*/
				margin-left: 95px;
				float: left;
			}

				.titleStylist{
					font-family: 'Kenzo';
					color: #edaf86;
					font-size: 40px;
					padding-top: 80px;
					padding-bottom: 10px;
				}

				.subTitleStylist{
					font-family: 'Kenzo';
					color: #95b9c7;
					padding-bottom: 30px;
				}

				.areaTxt{
					font-family: 'OpenSans-Light';
					font-weight: lighter;
					line-height: 25px;
					color: #909090;
					padding-bottom: 20px;
				}

			.imgStylist{
				height: 500px;
				overflow: hidden;
				float: left;
			}

				.carre{
					height: 500px;
					position: absolute;
					/*background-color: red;*/
					overflow: hidden;
					padding-left: 30px;
				}

					#allStylist{
						padding-top: 30px;
						padding-left: 50px;
					}

		.information{
			height: 500px;
			background-color: #fafafa;
		}
			.firstLineImg{
				padding-top: 22px;
			}

			.firstLineImg, .secondLineImg, .thirdLineImg{
				padding-left: 70px;
			}

			.imgInformation{
				width: 50%;
				height: 500px;
				float: left;
			}

			.txtInformation{
				width: 50%;
				height: 500px;
				float: left;
			}

				.titleInformation{
					font-family: 'Kenzo';
					color: #edaf86;
					font-size: 40px;
					padding-top: 100px;
					padding-bottom: 10px;
				}

				.subTitleInformation{
					font-family: 'Kenzo';
					color: #95b9c7;
					padding-bottom: 30px;
				}

				.areaTxtInformation{
					width: 540px;
					font-family: 'OpenSans-Light';
					font-weight: lighter;
					color: #909090;
					line-height: 30px;
				}

		.membership{
			height: 500px;
			background-image: url(../img/abo-img.jpg);
		}

		.begin{
			height: auto;
			background-color: #fafafa;
		}

			.contentBegin{
				height: 80px;
				padding-top: 20px;
				padding-bottom: 20px;
			}

				.txtBegin{
					float: left;
					padding-left: 203px;
				}

					.titleBegin{
						font-family: 'Kenzo';
						font-size: 40px;
						padding-bottom: 10px;
						color: #909090;
					}

					.subTitleBegin{
						font-family: 'Kenzo';
						padding-bottom: 30px;
						letter-spacing: 3px;
						color: #95b9c7;
					}

					.buttonBegin{
						background-color: orange;
						border : 0px;
						font-family: 'Kenzo';
						padding: 20px;
						margin-top: 5px;
						margin-left: 60px;
						font-size: 25px;
						color: white;
						border-radius: 2px;
						cursor: pointer;
					}

					.areaBegin{
						font-family: 'OpenSans-Light';
						font-weight: lighter;
						line-height: 18px;
					}

		.footer{
			height: 473px;
			background-color: white;
		}

			.mainFooter{
				width: 900px;
				height: 425px;
				background-color: white;
				margin: auto;
			}

				.iconeDCAS{
					width: 100%;
					height: 100px;
					padding-top: 60px;
					padding-bottom: 60px;
					/*background-color: red;*/
				}

					.iconeIMG{
						text-align: center;
						float: left;
						width: 225px;
						height: 100px;
						/*background-color: yellow;*/
						font-family: 'OpenSans-Light';
					}

					#Psecurity{
						padding-top: 10px;
					}
					#Pexpedition{
						padding-top: 3px;
					}
					#Poffer{
						padding-top: 13px;
					}
					#Pdays{
						padding-top: 3px;
					}

				#barre{
					height: 2px;
					background-color: black;
				}

				.moreInformation{
					height: 150px;
					/*background-color: red;*/
					padding-top: 50px;

				}

					.contactInformation{
						width: 300px;
						height: 200px;
						/*background-color: yellow;*/
						float: left;
						margin-left: 40px;
					}

					.linkFooter{
						text-decoration: none;
					}

				.contact{
					width: 300px;
					height: 200px;
					/*background-color: pink;*/
					float: left;
				}

					.h1Information{
						font-family: 'Kenzo';
						font-size: 25px;
					}

					.liInformation{
						font-family: 'OpenSans-Light';
						line-height: 18px;
						padding-top: 10px;
					}

				.socialNetwork{
					/*clear: both;*/
					padding-left: 40px;
					letter-spacing: 3px;
				}
				
					.contactIcone{
						padding-top: 10px;
						cursor: pointer;
					}

/*Block pour les autres pages*/

.actionBlock{
	height: auto;
	background-color: #fafafa;
}

/*Page stylist 1*/

.centerStylist{
	width: 950px;
	text-align: center;
	margin: auto;
	line-height: 30px;
}

	.titleStylist1{
		padding-top: 20px;
		font-family: 'Kenzo';
		color: #edaf86;
		font-size: 50px;
	}

	.subTitleStylist1{
		font-family: 'Kenzo';
		color: #95b9c7;
		font-size: 30px;
	}

.contentStylist{
}








/*Page login*/







.contentLogin{
	width: 950px;
	margin: auto;
}

	#profilButton-login{
		width: 100%;
	    padding-top: 0px;
	    margin-top: 40px;
	    height: 50px;
	    font-size: 25px;
	    margin-bottom: 40px;
	    background-color: #edaf86;
	    border: 0px;
	    cursor: pointer;
	    font-family: 'OpenSans-Light';
	    color: white;

	}


	.titleLogin{
		/*padding-top: 20px;*/
		font-family: 'Kenzo';
		color: #edaf86;
		font-size: 40px;
	}

		#presentation{
			margin-left: 240px;
			padding-bottom: 30px;
		}

		#inscription{
			font-size: 35px;
			margin-bottom: 30px;
		}

	.subTitleLogin{
		font-family: 'Kenzo';
		color: #95b9c7;
		font-size: 30px;
	}

		#identify{
			padding-bottom: 30px;
			font-family: 'OpenSans-Light';
		}

	.areaLog{
		font-family: 'OpenSans-Light';
		font-weight: lighter;
		line-height: 30px;
	}

	.formLog{
		width: 468px;
		margin: auto;
		font-family: 'OpenSans-Light';
	}

.inputLogin{
	width: 250px;
	height: 30px;
	border: 0px;
}

	#logMail{
		margin-left: 142px;
		margin-bottom: 20px;
	}

	#logPass{
		margin-left: 93px;
		margin-bottom: 20px;
	}

.submitDCAS{
	width: 100px;
	height: 30px;
	font-family: 'OpenSans-Light';
	background-color: #edaf86;
	border: 0px;
	color: white;
	cursor: pointer;
}

	#logSubmit{
		margin-bottom: 40px;
	}

	#log-inscription{
		margin-top: 20px;
		margin-left: 165px;
		width: 200px;
		height: 35px;
		margin-bottom: 50px;
	}




/*Page inscription*/



.formInscription{
	width: 416px;
	margin:auto;
	font-family: 'OpenSans-Light';
	padding-bottom: 30px;
}

	.inputSubscription{
		width: 250px;
		height: 30px;
		border: 0px;
		background-color: white;
		margin-bottom: 8px;
	}

	#firstname{
		margin-left: 103px;
	}

	#lastname{
		margin-left: 125px;
	}

	#login{
		margin-left: 106px;
	}

	#address{
		margin-left: 55px;
	}

	#city{
		margin-left: 131px;
	}

	#zcode{
		margin-left: 76px;
	}

	#email{
		margin-left: 56px;
	}

	#password{
		margin-left: 64px;
	}

	#password_check{

	}

	#tel{
		margin-left: 85px;
	}

	.checkSubscription{
		margin-bottom: 20px;	
	}

	#submitSubscription{
		width: 100px;
		height: 30px;
		font-family: 'OpenSans-Light';
		background-color: #edaf86;
		border: 0px;
		color: white;
		cursor: pointer;
	}

	#p-Subscription{
		margin-top: 30px;
		margin-bottom: 30px;
	}

.titleSubscription{
	font-family: 'Kenzo';
	color: #edaf86;
	font-size: 40px;
}

	#subscription-H1{
		margin-left: 377px;
		padding-top: 30px;
		padding-bottom: 30px;
	}






/*Page profile*/





.profilCenter{
	width: 950px;
	margin: auto;
	line-height: 30px;
}

/*	.titleStylist1{
		padding-top: 20px;
		font-family: 'Kenzo';
		color: #edaf86;
		font-size: 50px;
	}

	.subTitleStylist1{
		font-family: 'Kenzo';
		color: #95b9c7;
		font-size: 30px;
	}*/

	#login{
		margin-left: 70px;
	}
	#size{
		margin-left: 45px;
	}
	#address{
		margin-left: 70px;
	}
	#city{
		margin-left: 99px;
	}
	#zcode{
		margin-left: 42px;
	}
	#email{
		margin-left: 90px;
	}
	#tel{
		margin-left: 61px;
	}
	#password{
		margin-left: 32px;
	}
	#password_check{
		width: 190px;
		margin-left: 12px;
	}

	#submitProfil{
		margin-top: 20px;
		width: 100px;
		height: 30px;
		font-family: 'OpenSans-Light';
		background-color: #edaf86;
		border: 0px;
		color: white;
		cursor: pointer;
	}